.col-md-12, .col-md-3, .col-md-9{
	border: solid 1px black;
}

#header{
	height: 150px;
	background: yellow;
}

#main{
	height: 1000px;
	background: blue;
}

#footer{
	height: 150px;
	background: pink;
}